body{
    background-color: black;
}

.battleground{
    background-image: url('bg.jpg');
    background-size: cover;
    position: relative;
    width: 350px;
    height: 450px;
    margin: 0 auto;
}

#hero{
    background-image: url('1942.gif');
    background-position: -85px -180px;
    width: 25px;
    position: absolute;
    height: 25px;
}

.enemy1{
    background-image: url('1942.gif');
    background-position: -154px -6px;
    height: 25px;
    position: absolute;
    width: 25px;
    transform: rotate(180deg);
}

.enemy2{
    background-image: url('1942.gif');
    background-position: -67px -15px;
    height: 12px;
    position: absolute;
    width: 21px;
    transform: rotate(180deg);
}

.bullet{
    background-image: url('1942.gif');
    background-position: -187px -405px;
    position: absolute;
    height: 10px;
    width: 10px;
}

.original_copy{
    display: none;
}

.explode{
    background-image: url('1942.gif');
    background-position: -147px -34px;
    height: 26px;
    position: absolute;
    width: 25px;
}

.exploded{
    background-image: url('1942.gif');
    background-position: -37px -37px;
    height: 24px;
    position: absolute;
    width: 25px;
}

.score, .game_over{
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 1.5rem;
}

.game_over{
    display: none;
    padding: 0;
}